h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 1;

  font-size: 14px;
  font-weight: 200;
  line-height: -20px;
  height: 17px;
}
li:first-letter {
  text-transform: capitalize;
}
body {
  font-size: 35px;
  line-height: 1;
  font-weight: 400;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  max-height: 600px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  background: linear-gradient(rgb(47, 150, 163), rgb(4, 22, 181));
  font-family: sans-serif;
  color: white;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.units {
  position: relative;
  font-size: 20px;
  top: -10px;
}
